In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('popular_10000_movies_tmdb.csv')
df.head()

,id,title,release_date,genres,original_language,vote_average,vote_count,popularity,overview,budget,production_companies,revenue,runtime,tagline
0,758323,The Pope's Exorcist,2023-04-05,"['Horror', 'Mystery', 'Thriller']",English,7.4,619,5089.969,"Father Gabriele Amorth, Chief Exorcist of the ...",18000000,"['Screen Gems', '2.0 Entertainment', 'Jesus & ...",65675816,103,Inspired by the actual files of Father Gabriel...
1,640146,Ant-Man and the Wasp: Quantumania,2023-02-15,"['Action', 'Adventure', 'Science Fiction']",English,6.6,2294,4665.438,Super-Hero partners Scott Lang and Hope van Dy...,200000000,"['Marvel Studios', 'Kevin Feige Productions']",464566092,125,Witness the beginning of a new dynasty.
2,502356,The Super Mario Bros. Movie,2023-04-05,"['Animation', 'Adventure', 'Family', 'Fantasy'...",English,7.5,1861,3935.550,"While working underground to fix a water main,...",100000000,"['Universal Pictures', 'Illumination', 'Ninten...",1121048165,92,NaN
3,868759,Ghosted,2023-04-18,"['Action', 'Comedy', 'Romance']",English,7.2,652,2791.532,Salt-of-the-earth Cole falls head over heels f...,0,"['Skydance Media', 'Apple Studios']",0,120,Finding that special someone can be a real adv...
4,594767,Shazam! Fury of the Gods,2023-03-15,"['Action', 'Comedy', 'Fantasy', 'Adventure']",English,6.8,1510,2702.593,"Billy Batson and his foster siblings, who tran...",125000000,"['New Line Cinema', 'The Safran Company', 'DC ...",133437105,130,Oh. My. Gods.

In [3]:
df.shape

(10000, 14)

In [4]:
df.columns.tolist()

['id',
 'title',
 'release_date',
 'genres',
 'original_language',
 'vote_average',
 'vote_count',
 'popularity',
 'overview',
 'budget',
 'production_companies',
 'revenue',
 'runtime',
 'tagline']

In [5]:
df.nunique()

id                      10000
title                    9650
release_date             5877
genres                   2323
original_language          51
vote_average               74
vote_count               3447
popularity               8290
overview                 9916
budget                    673
production_companies     7990
revenue                  5221
runtime                   223
tagline                  7189
dtype: int64

In [6]:
df.dtypes

id                        int64
title                    object
release_date             object
genres                   object
original_language        object
vote_average            float64
vote_count                int64
popularity              float64
overview                 object
budget                    int64
production_companies     object
revenue                   int64
runtime                   int64
tagline                  object
dtype: object

In [7]:
df.isnull().sum()

id                         0
title                      0
release_date              21
genres                     0
original_language          0
vote_average               0
vote_count                 0
popularity                 0
overview                  77
budget                     0
production_companies       0
revenue                    0
runtime                    0
tagline                 2759
dtype: int64

In [8]:
df[['id', 'overview', 'tagline', ]].head()

,id,overview,tagline
0,758323,"Father Gabriele Amorth, Chief Exorcist of the ...",Inspired by the actual files of Father Gabriel...
1,640146,Super-Hero partners Scott Lang and Hope van Dy...,Witness the beginning of a new dynasty.
2,502356,"While working underground to fix a water main,...",NaN
3,868759,Salt-of-the-earth Cole falls head over heels f...,Finding that special someone can be a real adv...
4,594767,"Billy Batson and his foster siblings, who tran...",Oh. My. Gods.

In [9]:
df.drop(['id', 'overview', 'tagline'], axis=1, inplace=True)

In [10]:
df.shape

(10000, 11)

In [11]:
df.isnull().sum()

title                    0
release_date            21
genres                   0
original_language        0
vote_average             0
vote_count               0
popularity               0
budget                   0
production_companies     0
revenue                  0
runtime                  0
dtype: int64

In [12]:
df.dropna(inplace=True)

In [13]:
df.shape

(9979, 11)

In [14]:
df.select_dtypes('object').nunique()

title                   9630
release_date            5877
genres                  2322
original_language         51
production_companies    7980
dtype: int64

In [15]:
df['original_language'].unique()

array(['English', 'French', 'Dutch', 'Spanish', 'Korean', 'Japanese',
       'Finnish', 'Ukrainian', 'Norwegian', 'Estonian', 'cn', 'Polish',
       'Russian', 'German', 'Chinese', 'Italian', 'Basque', 'Thai',
       'Turkish', 'Swedish', 'Icelandic', 'Tagalog', 'Bengali', 'Arabic',
       'Tamil', 'Telugu', 'Romanian', 'Indonesian', 'Galician', 'Danish',
       'Macedonian', 'Portuguese', 'Vietnamese', 'Catalan', 'Hindi',
       'Persian', 'Hebrew', 'Serbian', 'Malayalam', 'Greek', 'Hungarian',
       'Czech', 'Norwegian Bokmal', 'xx', 'Kannada', 'Irish', 'Khmer',
       'sh', 'Dzongkha', 'Panjabi', 'Sundanese'], dtype=object)

In [16]:
df[df['original_language'] == 'xx']

,title,release_date,genres,original_language,vote_average,vote_count,popularity,budget,production_companies,revenue,runtime
6340,Barbie,1977-01-01,[],xx,2.0,1,9.890,0,[],0,10
7837,Vertigo,2016-08-10,['Drama'],xx,2.0,1,10.093,200,[],0,6

In [17]:
df = df[~(df['original_language'] == 'xx')]

In [18]:
df[df['original_language'] == 'xx']

Empty DataFrame
Columns: [title, release_date, genres, original_language, vote_average, vote_count, popularity, budget, production_companies, revenue, runtime]
Index: []

In [19]:
df.shape

(9977, 11)

In [20]:
df[df['original_language'] == 'sh']

,title,release_date,genres,original_language,vote_average,vote_count,popularity,budget,production_companies,revenue,runtime
9096,I Miss Sonia Henie,1971-01-20,"['Comedy', 'Drama']",sh,5.5,15,13.323,0,['Neoplanta Film'],0,16

In [21]:
df = df[~(df['original_language'] == 'sh')]

In [22]:
df[df['original_language'] == 'sh']

Empty DataFrame
Columns: [title, release_date, genres, original_language, vote_average, vote_count, popularity, budget, production_companies, revenue, runtime]
Index: []

In [23]:
df.shape

(9976, 11)

In [24]:
df.duplicated().sum()

0

In [25]:
df.select_dtypes('object').nunique()

title                   9629
release_date            5875
genres                  2322
original_language         49
production_companies    7979
dtype: int64

In [26]:
df['title'].duplicated().sum()

347

In [27]:
df[df['title'].isin(df['title'][df['title'].duplicated()])].sort_values('title')

,title,release_date,genres,original_language,vote_average,vote_count,popularity,budget,production_companies,revenue,runtime
9364,3:10 to Yuma,1957-08-07,"['Western', 'Drama', 'Thriller']",English,7.2,291,10.993,0,['Columbia Pictures'],0,92
5116,3:10 to Yuma,2007-09-06,['Western'],English,7.2,3131,18.967,55000000,"['Lionsgate', 'Tree Line Films', 'Relativity M...",70016220,122
2684,A Nightmare on Elm Street,2010-04-30,"['Horror', 'Mystery', 'Thriller']",English,5.5,2415,25.679,35000000,"['Platinum Dunes', 'New Line Cinema', 'Warner ...",115664037,95
1637,A Nightmare on Elm Street,1984-11-09,['Horror'],English,7.3,4430,36.600,1100000,"['New Line Cinema', 'Smart Egg Pictures', 'Med...",57000000,91
7330,A Tale of Two Sisters,2023-05-06,[],English,0.0,0,10.538,0,[],0,8
...,...,...,...,...,...,...,...,...,...,...,...
902,Wonder Woman,2017-05-30,"['Action', 'Adventure', 'Fantasy']",English,7.2,18595,54.481,149000000,"['Atlas Entertainment', 'Cruel & Unusual Films...",822854286,141
1133,Wrong Turn,2003-05-30,"['Horror', 'Thriller']",English,6.3,2307,50.411,12600000,"['DCP Wrong Turn Productions', 'Summit Enterta...",28650575,84
774,Wrong Turn,2021-01-26,"['Horror', 'Thriller', 'Drama']",English,6.0,902,59.587,0,"['Constantin Film', 'The H Collective', 'Tea S...",3777969,110
202,X,2022-03-17,"['Horror', 'Mystery', 'Thriller']",English,6.8,1918,129.629,10000000,"['A24', 'Little Lamb Productions']",14779858,106
5515,X,2011-11-23,"['Action', 'Thriller', 'Romance']",English,6.5,221,20.592,0,"['Rough Beast', 'Circe Films']",0,90

In [28]:
df['genres'].dtype

dtype('O')

In [29]:
df[['title', 'genres']][df['genres'].str.len() == 2]

                                                 title genres
610                                       Snake Beauty     []
684                    Za gyakutai: Nyotai ikedori-hen     []
816                         Gabriel's Inferno: Part IV     []
943                                       Yu Pui Tsuen     []
1178                                Oppressive Torture     []
...                                                ...    ...
8809                            The Legend of Zhao Yun     []
8982                       Russian Nymphet: Temptation     []
9484                     La Boheme: Breathe Umphefumlo     []
9775                                               野浪花     []
9991  The Witcher Season One Recap: From the Beginning     []

[61 rows x 2 columns]

In [30]:
df = df[~(df['genres'].str.len() == 2)]

In [31]:
df.shape

(9915, 11)

In [32]:
df[['title', 'production_companies']][df['production_companies'].str.len() == 2]

                                      title production_companies
21                               Adrenaline                   []
27                              The Elderly                   []
28                         Ripper's Revenge                   []
36                           Gangs of Lagos                   []
46    Prizefighter: The Life of Jem Belcher                   []
...                                     ...                  ...
9905                     My Mother's Lovers                   []
9924                    My Brother's Wife 2                   []
9930                      Zombie Fight Club                   []
9975                             Heart Shot                   []
9998                 My Sister-in-law's Job                   []

[519 rows x 2 columns]

In [33]:
df = df[~(df['production_companies'].str.len() == 2)]

In [34]:
df.shape

(9396, 11)

In [35]:
(df == 0).sum()

title                      0
release_date               0
genres                     0
original_language          0
vote_average             130
vote_count               129
popularity                 0
budget                  4286
production_companies       0
revenue                 3986
runtime                  106
dtype: int64

In [36]:
df[(df['vote_average'] == 0) | (df['vote_count'] == 0) | (df['runtime'] == 0)]

,title,release_date,genres,original_language,vote_average,vote_count,popularity,budget,production_companies,revenue,runtime
23,Fast X,2023-05-17,"['Action', 'Crime', 'Thriller']",English,0.0,0,732.647,340000000,"['Universal Pictures', 'Original Film', 'One R...",0,142
100,"Kiss, Kiss!",2023-04-26,"['Romance', 'Comedy']",Polish,6.9,15,361.900,0,['Lightcraft'],0,0
101,The Little Mermaid,2023-05-18,"['Adventure', 'Family', 'Fantasy', 'Romance']",English,0.0,0,220.944,0,"['Walt Disney Pictures', 'Lucamar Productions'...",0,135
128,Transformers: Rise of the Beasts,2023-06-07,"['Action', 'Adventure', 'Science Fiction']",English,0.0,0,222.430,200000000,"['Skydance Media', 'Paramount', 'di Bonaventur...",0,0
184,The Flash,2023-06-14,"['Science Fiction', 'Action', 'Adventure']",English,0.0,0,123.659,220000000,"['Warner Bros. Pictures', 'Double Dream', 'The...",0,0
...,...,...,...,...,...,...,...,...,...,...,...
9847,Divaldo: O Mensageiro da Paz,2019-09-12,['Drama'],Portuguese,8.3,59,16.640,0,"['20th Century Fox Brazil', 'CINE Cinematográf...",0,0
9889,Influencer,2023-05-18,"['Thriller', 'Horror', 'Mystery']",English,0.0,0,8.454,0,"['Octane Entertainment', 'Superchill']",0,92
9922,Mental Finger,2023-05-06,"['Comedy', 'Action']",Sundanese,0.0,0,9.660,0,['Cinemora Pictures'],0,12
9926,"Patricia, A Hidden Passion",2020-01-21,"['Drama', 'Comedy']",Spanish,6.0,33,12.780,0,['Cine Latino'],0,0
9932,Godzilla x Kong: The New Empire,2024-03-13,"['Action', 'Science Fiction', 'Adventure']",English,0.0,0,11.839,0,['Legendary Pictures'],0,0

In [37]:
df = df[~((df['vote_average']==0) | (df['vote_count']==0) | (df['runtime']==0))]

In [38]:
df.shape

(9223, 11)

In [39]:
df.describe()

,vote_average,vote_count,popularity,budget,revenue,runtime
count,9223.000000,9223.000000,9223.000000,9.223000e+03,9.223000e+03,9223.000000
mean,6.542546,1652.788247,31.635078,2.081719e+07,6.479669e+07,103.287867
std,0.907423,2952.562540,114.867339,3.935068e+07,1.596469e+08,24.410714
min,1.000000,1.000000,7.411000,0.000000e+00,0.000000e+00,2.000000
25%,6.000000,170.000000,13.591000,0.000000e+00,0.000000e+00,91.000000
50%,6.600000,580.000000,17.619000,2.500000e+06,3.769990e+06,101.000000
75%,7.200000,1726.000000,27.182500,2.500000e+07,5.806524e+07,115.000000
max,10.000000,33633.000000,5089.969000,5.793304e+08,2.923706e+09,449.000000

In [40]:
df.dtypes

title                    object
release_date             object
genres                   object
original_language        object
vote_average            float64
vote_count                int64
popularity              float64
budget                    int64
production_companies     object
revenue                   int64
runtime                   int64
dtype: object

In [41]:
df['profit'] = df['revenue'] - df['budget']

In [42]:
df.head()

,title,release_date,genres,original_language,vote_average,vote_count,popularity,budget,production_companies,revenue,runtime,profit
0,The Pope's Exorcist,2023-04-05,"['Horror', 'Mystery', 'Thriller']",English,7.4,619,5089.969,18000000,"['Screen Gems', '2.0 Entertainment', 'Jesus & ...",65675816,103,47675816
1,Ant-Man and the Wasp: Quantumania,2023-02-15,"['Action', 'Adventure', 'Science Fiction']",English,6.6,2294,4665.438,200000000,"['Marvel Studios', 'Kevin Feige Productions']",464566092,125,264566092
2,The Super Mario Bros. Movie,2023-04-05,"['Animation', 'Adventure', 'Family', 'Fantasy'...",English,7.5,1861,3935.550,100000000,"['Universal Pictures', 'Illumination', 'Ninten...",1121048165,92,1021048165
3,Ghosted,2023-04-18,"['Action', 'Comedy', 'Romance']",English,7.2,652,2791.532,0,"['Skydance Media', 'Apple Studios']",0,120,0
4,Shazam! Fury of the Gods,2023-03-15,"['Action', 'Comedy', 'Fantasy', 'Adventure']",English,6.8,1510,2702.593,125000000,"['New Line Cinema', 'The Safran Company', 'DC ...",133437105,130,8437105

In [43]:
#df.to_csv('movies_dz.csv', index=False)